body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/** Header wrap **/
.clearFix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  /** Making center navs and logo **/
}

nav ul li {
  display: inline;
  /** Making list inline **/
}

nav ul li a {
  text-decoration: none;
  margin-right: 40px;
  opacity: 0.5;
  font-style: normal;
  line-height: 23px;
  font-size: 17px;
  font-weight: 400;
  /** Giving style to nav a **/
}

nav ul li a:hover {
  opacity: 1;
  font-weight: 700;
  color: #1f1534;
  border-bottom: 1px solid #1f1534;
  margin-bottom: 20px;
}

nav ul li .homeClass {
  opacity: 1;
  font-weight: 700;
  color: #1f1534;
}

.container {
  width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
/** Header end **/

/** Healtcare start **/
/** Virtual healthcare for you **/
.wrapper-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.healthcareWrapper {
  width: 490px;
}

.healthcareWrapper h1 {
  font-weight: bold;
  font-size: 48px;
  color: #000000;
  line-height: 56px;
}

.healthcareWrapper p {
  font-weight: 300;
  line-height: 28px;
  color: #7d7987;
  width: 75%;
}

.healthcareWrapper .buttonClick {
  cursor: pointer;
  border: none;
  background: #458ff6;
  color: #ffffff;
  width: 180.75px;
  height: 50px;
  border-radius: 55px;
  font-size: 16px;
  transition: background-color 0.2s;
}

.healthcareWrapper button:hover {
  background: rgb(115, 167, 239);
}
/** Virtual healthcare for you **/

/** Our Services **/
.service-header {
  margin-top: 250px;
  text-align: center;
}

.service-items h1 {
  font-size: 36px;
}
.service-header span {
  background: #000000;
  border-radius: 5px;
  width: 56px;
  height: 2px;
  display: inline-block;
}

.service-items p {
  width: 55%;
  color: #7d7987;
  margin: 0 auto;
  margin-top: 20px;
}

/** Service box **/
.list-wrapper {
  /* margin: 0; */
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 40px;
  column-gap: 20px;
}

.box-item {
  display: flex;
  justify-content: space-between;
}

.service-box {
  margin: 0;
  padding: 40px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  width: 380px;
}

.learnMoreBtn {
  display: flex;
  justify-content: center;
}

.buttonClick-transparent {
  cursor: pointer;
  border: none;
  border: 1.6px solid #458ff6;
  color: #458ff6;
  background: transparent;
  width: 180.75px;
  height: 50px;
  border-radius: 55px;
  font-size: 16px;
  transition: background-color 0.2s;
  margin: 40px 0;
}

.container .service-box h2 {
  font-size: 18px;
}

.container .service-box p {
  line-height: 28px;
  font-size: 16px;
  color: #7d7987;
}

.buttonClick-transparent:hover {
  color: #ffffff;
  background: #458ff6;
}
/** Services end **/

/** Customer reviewes **/
.review-wrap {
  margin-top: 251px;
}

.review-wrap h2 {
  text-align: center;
}

.review-wrap span {
  background: #000000;
  border-radius: 5px;
  width: 56px;
  height: 2px;
}

.reviewUserImage img {
  width: 100%;
  border-radius: 50%;
}

.bottomWrapper {
  display: flex;
}

.customerHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Leading healthcare */
.leading-wrapper {
  margin-top: 120px;
}

.leading-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 230px;
}

.leading-items {
  width: 434px;
}

.leading-items h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  margin: 0;
}

.leading-items span {
  background: #000000;
  border-radius: 5px;
  width: 56px;
  height: 2px;
  display: inline-block;
}

.leading-items p {
  line-height: 28px;
  font-size: 16px;
  color: #7d7987;
  margin-top: 20px;
  margin-bottom: 0;
}

.buttonClick-transparent-iconable::after {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("./images/download-icon.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
}

.leading-box:nth-child(2) {
  flex-direction: row-reverse;
}
/* Leading healthcare */

/* Customer saying */
.wrapper-says {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  padding: 50px 10px 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-says h1 {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 20px;
}

.wrapper-tit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-says span {
  background: #fff;
  border-radius: 5px;
  width: 56px;
  height: 2px;
  display: inline-block;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.human-reviews::before {
  content: "";
  width: 110px;
  height: 110px;
  background-image: url("./images/customer-says.svg");
  background-size: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
  display: inline-block;
}

.human-reviews {
  width: 400px;
}

.human-reviews h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
}

.human-reviews small {
  margin-top: 5px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.85);
}

.human-title {
  width: 503px;
}

.human-title blockquote {
  line-height: 28px;
  font-size: 16px;
  color: #fff;
}
/* Customer saying */

/* Article */
.article {
  margin-top: 250px;
}

.article h1 {
  margin-bottom: 70px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
}

.wrapper-article {
  display: flex;
  justify-content: space-between;
}

.article-title a::after {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("./images/download-icon.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  transform: rotate(270deg);
}

.wrapper-boxes {
  width: 380px;
  background: #ffffff;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.wrapper-boxes img {
  cursor: pointer;
  transition: all 0.3s ease;
}

.wrapper-boxes img:hover {
  opacity: 0.8;
  transform: scaleX(0.9);
}

.article-title {
  width: 300px;
  padding: 30px;
}

.article-title h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.article-title p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
}

.article-title a {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ed;
}

.article-title a:hover {
  text-decoration: underline;
}

.article-title h4 {
  margin: 0;
}

.buttonClick-transparent--view {
  margin: 80px auto;
  display: block;
}

/* Article */

/* Footer */
.footer {
  margin-top: 150px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.section-header {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-title-logo {
  width: 386px;
}

/* Logo part */
.section-title-logo p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.section-title-logo small {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #ffffff;
}
/* Logo part */

.section-title strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding-bottom: 19px;
  display: block;
}

.section-title ul {
  margin: 0;
  padding: 0;
}

.section-title li {
  list-style: none;
  padding-bottom: 10px;
}

.section-title a {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease;
}

.section-title a:hover {
  color: #000;
}

/* Footer */
